@font-face {
	font-family: "OpenSans";
	src: url(../fonts/OpenSans-Regular.woff2),
			 url(../fonts/OpenSans-Regular.woff);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url(../fonts/OpenSans-Bold.woff2),
			 url(../fonts/OpenSans-Bold.woff);
	font-weight: 700;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: OpenSans;
}

a {
	text-decoration: none;
	color: inherit;
}

.popup {
 width: 100%;
 height: 100vh;
 box-sizing: border-box;
 
 background-color: rgba(0, 0, 0, 0.6);
 
 position: fixed;
 top: 0;
 left: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 9999;
}

.popup-container {
 max-width: 391px;
 width: 95%;
 padding: 52px 30px;
 box-sizing: border-box;
 
 background-color: #ffffff;
 position: relative;
}

.popup-title {
	font-size: 20px;
	color: #0f0d0e;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.popup-title::after {
	content: "";
	margin: 10px auto 25px;
	display: block;
	width: 66px;
	height: 3px;
	background-color: #e1d9bd;
}

.feedback {
	font-size: 13px;
	color: #000000;
	font-weight: 400;
}

.visit-options {
	box-sizing: border-box;
	height: 45px;
	width: 100%;

	padding-left: 19px;
	padding-right: 19px;
	margin-top: 10px;
	border: none;
	border-radius: 0;
	background-color: #f4f7f6;

	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("../svg/form-arrows.svg");
	background-repeat: no-repeat;
	background-position: right 13px center;
	background-size: 3% 37%;
}

.visit-options:focus {
	border-bottom: 1px solid #b59f5b;
	outline: none;
}

.subscribe-check {
	margin-top: 25px;
}

.check-label {
	display: inline-block;
	width: 100%;
}

.check-group {
	display: inline-block;
	margin-top: 8px;
	margin-right: 15px;
}

.check {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
}
.check-text {
	display: inline-block;
}

.check-text::before {
	content: "";
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background-image: url("../svg/form-empty-circle.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px;
}

.check:checked ~ .check-text::before {
	background-image: url(../svg/form-circle.svg);
}

.reference {
	margin-top: 25px;
}

.reference-field {
	box-sizing: border-box;
	height: 130px;
	width: 100%;
	resize: none;

	font-size: 13px;
	font-family: Opensans;
	color: #000000;
	font-weight: 400;

	padding: 19px;
	outline: none;
	margin-top: 10px;
	border: none;
	border-radius: 0;
	background-color: #f4f7f6;
}

.reference-field:focus {
	border-bottom: 1px solid #b59f5b;
	outline: none;
}

.feedback-button {
	margin-top: 25px;
	width: 100%;
	height: 45px;
	background-color: #b59f5b;
	border: none;
	outline-style: none;

	font-size: 14px;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}

.feedback-button:hover {
	background-color: #323232;
	cursor: pointer;
}

.popup-closer {
	width: 20px;
	height: 20px;
	position: absolute;
	top: -2rem;
	right: 0;

	border: none;
	padding: 0;
	cursor: pointer;

	background-image: url("../svg/form-x.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px;

}


.preview {
	width: 100vw;
	padding-top: 28px;
	padding-bottom: 126px;
	position: relative;

	background-image: url("../images/banner-bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #000000;

	z-index: 0;
}

.preview:after {
	content: "";
	position: absolute;
	background-color: #000000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.6;
	z-index: -1;
}

.preview-navbar {
	box-sizing: border-box;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;

	display: flex;
	align-content: flex-start;
	justify-content: space-between;
	align-items: center;
}

.preview-title {
	max-width: 700px;
	margin: 100px auto 0;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 45px;
	line-height: 1.67;
	text-align: center;
}

.logo {
	width: 180px;
	color: white;
}

.navigation {
	display: flex;
	align-content: center;
}

.menu__button {
		display: none;
  width: 1.4em;
  height: 1em;  
  border: none;
  padding: 0;

  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.menu__button:before, .menu__button:after {
  content:"";
  width: 100%;
  height: 20%;

  border-radius: 5px;
  background-color: #ffffff;  

  position: absolute;
  left: 0;
}

.menu__button:before {
  top: 0;
}

.menu__button:after {
  bottom: 0;
}

.menu__button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;  

  border-radius: 5px;
  background-color: #ffffff;  

  position: absolute;
  left: 0;
  top: 50%;
}

.navigation-items {
	display: flex;
	flex-direction: row;
	list-style-type: none;

	font-weight: 400;
	font-size: 13px;
	text-transform: uppercase;
	color: #ffffff;
}

.navigation-item {
	box-sizing: border-box;
	height: 19px;
	margin-left: 36px;
	text-decoration: none;
	color: inherit;
}

.navigation-item:first-child {
	margin-left: 0;
}

.navigation-item:hover {
	border-bottom: 1px solid;
}

.trends {
	width: 100vw;
	margin-top: 40px;
}

.trends-title {
	font-size: 20px;
	color: #0f0d0e;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.trends-title:after {
	content: "";
	margin: 10px auto 29px;
	display: block;
	width: 66px;
	height: 3px;
	background-color: #b59f5b;
}

.trends-bar {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.card {
	width: 24.7%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	min-height: 320px;
	box-sizing: border-box;
	position: relative;
	z-index: 0;
}

.card:after {
	content: "";
	position: absolute;
	background-color: #000000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.6;
	z-index: -1;
}

.garden-card {
	background-image: url(../images/trend1.jpg);
	background-size: cover;
	background-position: center center;
}

.cheese-card {
	background-image: url(../images/trend2.jpg);
	background-size: cover;	
	background-position: center center;
}

.travel-card {
	background-image: url(../images/trend3.jpg);
	background-size: cover;	
	background-position: center center;
}

.healthy-card {
	background-image: url(../images/trend4.jpg);
	background-size: cover;	
	background-position: center center;
}

.card-content {
	box-sizing: border-box;
	margin: 5%;
	padding:  7%;	
	border: 3px solid #b59f5b;
	width: 95%;
	}

.card-tags {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin-bottom: 0.5em;

	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: #b59f5b;
}

.card-tag {
	box-sizing: border-box;
	height: 20px;
	text-decoration: none;
	color: inherit;
}

.card-tag:hover {
	border-bottom: 2px solid;
	cursor: pointer;
}

.card-tag:nth-child(n + 2) {
	margin-left: 1.43em;
}

.card-title {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 1.2;
	color: #ffffff;
	text-decoration: none;
}

.card-title:hover {
	color: #b59f5b;
	cursor: pointer;
}

.page {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}

.page-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 64px auto 0;
}

.news {
	max-width: 67%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.post {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
}

.post:nth-child(n + 2) {
	margin-top: 56px;
}

.post-image {
	max-width: 49%;
}

.post-content {
	max-width: 47%;
	box-sizing: border-box;
}

.post-tags {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin-bottom: 7px;

	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: #b59f5b;
}

.post-tag {
	box-sizing: border-box;
	height: 20px;
	text-decoration: none;
	color: inherit;
}

.post-tag:hover {
	border-bottom: 2px solid;
}

.post-tag:nth-child(n + 2) {
	margin-left: 19px;
}

.post-title {
	margin-bottom: 25px;

	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 1.2;
	color: #0f0d0e;
	text-decoration: none;
}

.post-title:hover {
	color: #b59f5b;
}

.post-description-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 45px;
}

.post-date {
	margin-right: 12px;
	font-weight: 400;
	font-size: 12px;
	color: #888888;
}

.post-author {
	font-weight: 700;
	font-size: 12px;
	color: #000000;
}

.post-text {
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	color: #0f0d0e;
}

.side-bar {
	max-width: 23%;
	display: flex;
	flex-direction: column;
}

.mini-posts {
	width: 100%;
}

.bar-title {
	font-size: 14px;
	color: #0f0d0e;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.bar-title::after {
	content: "";
	margin: 10px auto 29px;
	display: block;
	width: 66px;
	height: 3px;
	background-color: #b59f5b;
}

.bar-post {
	display: flex;
	margin-top: 18px;
}

.mini-image {
	width: 70px;
	margin-right: 19px;
}

.mini-date {
	font-size: 12px;
	color: #000000;
	font-weight: 400;
	margin-bottom: 2px;
}

.mini-post-description {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
}

.mini-post-description:hover {
	color: #b59f5b;
}

.search {
	display: flex;
	margin-top: 58px;
	border: none;
}

.visually-hidden {
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	position: absolute;
}

.search-field {
	box-sizing: border-box;
	height: 45px;
	width: 83%;

	font-size: 13px;
	color: #000000;
	font-weight: 400;

	padding: 17px 20px 20px;
	border: none;
	border-radius: 0;
	background-color: #f4f7f6;
}

.search-field:focus {
	border: 1px solid #b59f5b;
	border-right: none;
	outline: none;
}

.search-button {
	width: 17%;
	background-color: #b59f5b;
	border: none;
	outline-style: none;
}

.search-button:hover {
	background-color: #323232;
	cursor: pointer;
}

.button-image {
	width: 17px;
}

.subscribe-bar {
	margin-top: 60px;
}

.subscribe-field {
	box-sizing: border-box;
	height: 45px;
	width: 100%;

	font-size: 13px;
	color: #000000;
	font-weight: 400;

	padding: 17px 20px 20px;
	border: none;
	border-radius: 0;
	background-color: #f4f7f6;
}

.subscribe-button {
	margin-top: 18px;
	width: 100%;
	height: 45px;
	background-color: #b59f5b;
	border: none;
	outline-style: none;

	font-size: 14px;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}

.subscribe-field:focus {
	border: 1px solid #b59f5b;
	outline: none;
}

.subscribe-button:hover {
	background-color: #323232;
	cursor: pointer;
}

.tags-bar {
	margin-top: 60px;
	width: 100%;
}

.side-tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: space-between;
	list-style-type: none;

	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	color: #000000;
}

.side-tag {
	margin: 4px 3px;
	padding: 4px 14px;
	border: 3px solid #ededed;
	text-decoration: none;
	color: inherit;
}

.side-tag:hover {
	border-color: #b59f5b;
	cursor: pointer;
}

.categories {
	margin-top: 60px;
	width: 100%;
}

.side-categories {
	display: flex;
	flex-direction: column;
	list-style-type: none;

	font-weight: 700;
	font-size: 14px;
	color: #000000;
}

.side-category {
	height: 48px;
	padding-top: 8px;
	width: 100%;
	border-bottom: 1px solid #eeeeee;
	box-sizing: border-box;
}

.mark {
	margin-left: 4px;
	vertical-align: super;
	color: #b59f5b;
	font-size: 12px;
}

.side-category:hover {
	color: #b59f5b;
}

.shop {
	width: 100%;
	margin: 60px auto;
}

.shop-title {
	font-size: 20px;
	color: #0f0d0e;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.shop-title:after {
	content: "";
	margin: 10px auto 30px;
	display: block;
	width: 66px;
	height: 3px;
	background-color: #b59f5b;
}

.item-bar {
	width: calc(100% - 50px);
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
}

.item-card {
	width: 344px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-image {
 max-width: 100%;
 margin: 0 auto;
 position: relative;
 z-index: 0;
 flex-grow: 1;
}

.item-content {
	box-sizing: border-box;
	margin-top: -40px;
	border: 3px solid #b59f5b;
	padding: 56px 22px 25px;
	width: 100%;
	position: relative;
	z-index: 1;
	flex-grow: 1;
}

.item-title {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
}

.item-description {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5em;
}

.item-footer {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.item-prices {
	display: flex;
	flex-direction: column;
}

.item-price_old {
	font-weight: 700;
	font-size: 14px;
	text-decoration: line-through;
}

.item-price {
	font-weight: 700;
	font-size: 20px;
}

.purchase-button {
	margin-top: 18px;
	width: 45%;
	height: 45px;
	background-color: #b59f5b;
	border: none;
	outline-style: none;

	font-size: 14px;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}

.purchase-button:hover {
	background-color: #323232;
	cursor: pointer;
}

.socials {
	width: 100%;
	margin: 63px auto 0;
}

.social-icons {
	margin: 0 auto;
	background-color: #f4f7f6;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 80px;
	align-items: center;
	list-style-type: none;
}

.social-icon {
	display: block;
}

.social-badge {
	display: block;
	width: 25px;
	height: 25px;
	background-size: cover;
}

.dribbble-icon {
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
}

.pinterest-icon {
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
}

.tumblr-icon {
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.dribbble-icon {
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
}

.copyright {
	display: block;
	margin-top: 72px;
	font-size: 12px;
	color: #999999;
	font-weight: 700;
	text-align: center;
}

@media (min-width: 641px) and (max-width: 1200px) {

	.preview-navbar {
		max-width: 100vw;
	}

	.preview-title {
		font-size: 40px;
	}

	.logo {
		width: 160px;
	}

	.navigation {
		display: flex;
		align-content: center;
	}

	.menu__button {
			display: block;
	}

	.navigation-items {
		display: none;
	}

	.trends-title {
		font-size: 18px;
	}

	.trends-title::after {
		margin: 16px auto;
		display: block;
		height: 2px;
	}

	.trends-bar {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.card {
		width: 49.7%;
		min-height: 245px;
		margin-bottom: 0.55%;
	}

	.card-title {
		font-size: 17px;
	}

	.page-content {
		margin: 42px auto 0;
	}

	.news {
		max-width: 60%;
		align-items: flex-end;
	}

	.post {
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.post:nth-child(n + 2) {
		border-top: 3px solid #eeeeee;
		padding-top: 42px;
		margin-top: 20px;
		}

	.post-image {
		min-width: 100%;
	}

	.no-border {
		padding-top: 0;
		border: none;
	}

	.post-content {
		max-width: 100%;
		box-sizing: border-box;
	}

	.post-tags {
		margin-top: 7px;
	}

	.post-title {
		margin-bottom: 30px;
		font-size: 17px;
	}

	.post-description-footer {
		margin-bottom: 30px;
	}

	.side-bar {
		max-width: 35%;
		display: flex;
		flex-direction: column;
	}

	.shop {
		margin: 50px auto;
	}

	.shop-title {
		font-size: 18px;
	}

	.shop-title:after {
		height: 2px;
	}

	.item-bar {
		width: calc(100% - 25px);
		margin: 0 auto;

		display: flex;
		flex-wrap: wrap;
		justify-items: center;
		gap: 20px;
		}

	.item-card {
		width: 336px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.item-image {
	 max-width: 100%;
	 margin: 0 auto;
	 position: relative;
	 z-index: 0;
	 flex-grow: 1;
	}

	.item-content {
		margin-top: -40px;
		min-height: 210px;
		border: 3px solid #b59f5b;
		padding: 56px 22px 25px;
		width: 100%;
		position: relative;
		z-index: 1;
		flex-grow: 1;
	}

	.item-title {
		text-transform: uppercase;
		font-size: 17px;
		font-weight: 700;
	}

	.item-description {
		font-size: 15px;
		font-weight: 400;
		line-height: 1.5em;
	}

	.item-footer {
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.item-prices {
		display: flex;
		flex-direction: column;
	}

	.item-price_old {
		font-weight: 700;
		font-size: 14px;
		text-decoration: line-through;
	}

	.item-price {
		font-weight: 700;
		font-size: 20px;
	}

	.purchase-button {
		margin-top: 18px;
		width: 45%;
		height: 45px;
		background-color: #b59f5b;
		border: none;
		outline-style: none;

		font-size: 14px;
		color: #000000;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	}

	.purchase-button:hover {
		background-color: #323232;
		cursor: pointer;
	}
}

@media (max-width: 640px) {

	.preview {
		width: 100vw;
		padding-top: 230px;
		padding-bottom: 230px;
		position: relative;
	}

	.preview-navbar {
		max-width: 95%;
		display: block;
		position: relative;
	}

	.preview-title {
		max-width: 90%;
		margin: 44px auto 0;
		font-size: 26px;
	}

	.navigation {
	display: block;
	position: absolute;
	right: 15px;
	top: -200px;
	}

	.menu__button {
		display: block;
 	}

	.navigation-items {
		display: none;
	}

	.trends {
		margin-top: 40px;
}

	.trends-title {
		font-size: 16px;
	}

	.trends-bar {
		width: 100%;
		flex-wrap: wrap;
		gap: 1px;
	}

	.card {
		width: 100%;
		min-height: 230px;
		border-top: 1px solid #eeeeee;
	}

	.card-title {
		font-size: 16px;
	}

	.page {
		max-width: 100%;
	}

	.page-content {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 15%;
	}

	.news {
		max-width: 100%;
		display: flex;
		flex-direction: column;
	}

	.post {
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.post:nth-child(n + 2) {
		margin-top: 10%;
	}

	.post-image {
		min-width: 100%;
	}


	.post-content {
		max-width: 100%;
		box-sizing: border-box;
	}

	.post-title {
		margin-bottom: 5%;
		font-size: 16px;
	}

	.post-description-footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: 5%;
	}

	.post-text {
		font-size: 14px;
		border-bottom: 3px solid #eeeeee;
		padding-bottom: 5%;
	}

	.side-bar {
		max-width: 100%;
		margin-top: 10%;
	}

	.mini-posts {
		max-width: 100%;
	}

	.bar-title {
		font-size: 16px;
	}

	.bar-post {
		display: flex;
		margin-top: 5%;
	}

	.mini-image {
		margin-right: 5%;
	}

	.search {
		margin-top: 17%;
	}


	.subscribe-bar {
		margin-top: 12%;
	}

	.tags-bar {
		margin-top: 12%;
	}

	.categories {
		margin-top: 12%;
	}

	.shop {
		margin: 12% auto;
	}

	.shop-title {
		font-size: 16px;
	}

	.item-bar {
		justify-content: center;
		flex-wrap: wrap;
		gap: 28px;
	}

	.item-card {
		width: 340px;
	}

	.item-title {
		font-size: 17px;
	}

	.social-icons {
		gap: 30px;
	}

}